body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 500;
  text-align: center;
}

nav { 
	background: hotpink; 
}

.container {
	background: grey;
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
  	width: 80.708333333333%;
}

main {
    background: gold;
    flex-basis: 65%;
    order: 2;
}
   
aside {
    background: deepskyblue;
    flex-basis: 30%; 
    order: 1;
}

.cover-image {
    	background-image: url(https://pbs.twimg.com/profile_banners/951797118/1442179644/600x200);
        background-repeat: no-repeat;
        background-size: 100%;
        height: 96px;
        border:none;
        border-radius: 4px 4px 0 0;      
}


.profile-pic {
    height:70px;
    width: 70px;
    background-image: url(https://pbs.twimg.com/profile_images/715909253383471105/dqEseXfE_bigger.jpg);
    border-radius: 6px;
    margin-top: -30px;
    margin-left: 8px;
    border:3px solid #fff;
}

@media only screen and (max-width: 600px) {
    body {
        background-color: lightblue;
    }

    .container { 
    	flex-flow: column wrap;
    	padding: 0;
    }

	main {
	    order: 1;
	}
   
	aside {
	    order: 2;
	}
}

  